
/** brand-section **/

.brand-section{
  position: relative;
}

.brand-section .brand-logo-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.04);
}

.brand-section .brand-logo-box img{
  position: relative;
  max-width: 242px;
  width: 100%;
  margin: 0 auto;
}

.brand-section .owl-carousel .owl-stage-outer{
  overflow: visible;
}

.brand-section .owl-carousel .owl-stage-outer .owl-item{
  opacity: 0;
  visibility: hidden;
}

.brand-section .owl-carousel .owl-stage-outer .owl-item.active{
  opacity: 1;
  visibility: visible;
}


/** brand-style-two **/

.brand-style-two{
  position: relative;
}

.brand-style-two .outer-container{
  padding-left: 320px;
  box-shadow: 0px 4px 80px 0px rgba(255, 0, 0, 0.06);
}

.brand-style-two .outer-container .title-text{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 320px;
  padding: 0px 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-style-two .outer-container .title-text h2{
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
  font-style: italic;
}

.brand-style-two .brand-logo-box{
  position: relative;
  display: block;
  padding: 30px 0px;
  border-right: 1px solid #EDEDED;
}

.brand-style-two .brand-logo-box img{
  position: relative;
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.brand-style-two .outer-container.pl_0{
  padding-left: 0px;
}

.brand-style-two .outer-container.b_radius{
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
  box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.06);
}


/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){
  .brand-style-two{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .brand-style-two .outer-container .title-text{
    position: relative;
    width: 100%;
    padding: 30px 15px;
    text-align: center;
  }

  .brand-style-two .outer-container{
    padding-left: 0px;
  }

  .brand-section.pb_120{
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}











































