
/** error-section **/

.error-section{
  position: relative;
}

.error-section .content-box{
  position: relative;
  display: block;
}

.error-section .content-box .error-image{
  position: relative;
  display: block;
  margin-bottom: 27px;
}

.error-section .content-box h2{
  position: relative;
  display: block;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 11px;
}

.error-section .content-box p{
  margin-bottom: 32px;
}

.error-section .content-box p a{
  display: inline-block;
  color: var(--text-color);
}

.error-section .content-box p a:hover{

}

.error-section .content-box h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  font-size: 500px;
  line-height: 300px;
  opacity: 0.1;
  width: 100%;
  text-align: center;
  font-weight: 800;
  letter-spacing: -10px;
}


/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}











































