
/** feature-section **/

.feature-section{
  position: relative;
  padding: 120px 0px 210px 0px;
  overflow: hidden;
}

.feature-section .bg-layer:before{
  position: absolute;
  content: '';
  background: var(--secondary-color);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.8;
}

.feature-section .sec-title.light .sub-title{
  color: #fff;
  border-color: #fff !important;
}

.feature-block-one .inner-box{
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 6px;
  gap: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.04);
}

.feature-block-one .inner-box .icon-box{
  position: relative;
  display: inline-block;
  width: 68px;
  height: 68px;
  line-height: 68px;
  min-width: 68px;
  text-align: center;
  border-radius: 6px;
  font-size: 40px;
  color: #fff;
}

.feature-block-one .inner-box h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.feature-block:nth-child(2) .feature-block-one .inner-box .icon-box{
  background: #0EBEF6;
}

.feature-block:nth-child(3) .feature-block-one .inner-box .icon-box{
  background: #243EDE;
}

.feature-block:nth-child(4) .feature-block-one .inner-box .icon-box{
  background: #FF8A00;
}

.feature-block:nth-child(5) .feature-block-one .inner-box .icon-box{
  background: #C42CFB;
}

.feature-block:nth-child(6) .feature-block-one .inner-box .icon-box{
  background: #06B502;
}

.feature-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  z-index: -1;
}

.feature-section.pb_100{
  padding-bottom: 100px;
}


/** feature-style-two **/

.feature-style-two{
  position: relative;
}

.feature-block-two .inner-box{
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 20px;
  padding: 45px 45px 40px 45px;
  border-top: solid;
  border-width: 5px;
  border-color: var(--secondary-color);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.feature-block:nth-child(2) .feature-block-two .inner-box{
  border-color: var(--theme-color);
}

.feature-block:nth-child(3) .feature-block-two .inner-box{
  border-color: #06B502;
}

.feature-block:nth-child(4) .feature-block-two .inner-box{
  border-color: #FF8A00;
}

.feature-block-two .inner-box .icon-box{
  position: relative;
  display: inline-block;
  font-size: 48px;
  color: var(--secondary-color);
  margin-bottom: 22px;
}

.feature-block:nth-child(2) .feature-block-two .inner-box .icon-box{
  color: var(--theme-color);
}

.feature-block:nth-child(3) .feature-block-two .inner-box .icon-box{
  color: #06B502;
}

.feature-block:nth-child(4) .feature-block-two .inner-box .icon-box{
  color: #FF8A00;
}

.feature-block-two .inner-box h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.feature-block-two .inner-box h3 a{
  display: inline-block;
  color: var(--title-color);
}

.feature-block-two .inner-box h3 a:hover{

}


/** feature-style-three **/

.feature-style-three{
  position: relative;
  background: #F7F7F7;
  overflow: hidden;
}

.feature-style-three .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.03;
}

.feature-block-three .inner-box{
  position: relative;
  display: block;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 20px;
  padding: 45px 30px 33px 30px;
  border-top: solid;
  border-width: 5px;
  border-color: #7B0000;
  overflow: hidden;
  z-index: 1;
  transition: all 500ms ease;
}

.feature-block-three .inner-box:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: all 500ms ease;
}

.feature-block-three .inner-box:hover:before{
  height: 100%;
  top: 0px;
}

.feature-block-three .inner-box .icon-box{
  position: relative;
  display: inline-block;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 35px;
  padding-left: 26px;
  transition: all 500ms ease;
}

.feature-block-three .inner-box:hover .icon-box{
  color: #fff;
}

.feature-block-three .inner-box .icon-box:before{
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: 0px;
  top: -20px;
  opacity: 0.1;
  transition: all 500ms ease;
}

.feature-block-three .inner-box:hover .icon-box:before{
  background: #fff;
  opacity: 0.2;
}

.feature-block-three .inner-box h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 11px;
}

.feature-block-three .inner-box h3 a{
  display: inline-block;
  color: var(--title-color);
}

.feature-block-three .inner-box h3 a:hover{
  text-decoration: underline;
}

.feature-block-three .inner-box:hover h3 a,
.feature-block-three .inner-box:hover p{
  color: #fff;
}

.feature-block-three .inner-box p{
  transition: all 500ms ease;
}


/** rtl-css **/

.rtl .feature-style-two .content-box{
  margin-left: 0px;
  margin-right: 75px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .feature-style-two .content-box{
    margin-left: 0px;
  }
  .rtl .feature-style-two .content-box{
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px){
  .feature-section{
    padding: 70px 0px 150px 0px;
  }

  .feature-section.pb_100{
    padding-bottom: 50px;
  }

  .feature-style-two,
  .feature-style-three{
    padding: 70px 0px 40px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .feature-block-two .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }
}